<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>udupukada admin</title>
    <style>
  th{
    background-color: #0a4a8a;
    color: white;
  ;
  }table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 0px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    width: 100px;}
  table#t01 {
    background-color: #F1F1C1
  ;}

  .container {
    padding: 2px 16px;
  }

      </style>
  </head>
  <body>
           <section class="header">
                   <h1>User Details</h1>  <!--<div> <button class="bu"><a href="/Order">Order</a></button><br> </div>-->
   <br>
           </section>
           <div class="container">
           <table align="center" width="100%">
                  <th>Name </th>
                  <th>User ID </th>
                  <th>E-mail </th>
                    <div>

      <tr>
    <% user.forEach(function (user){%>
        <td> <%= user.name%> </td>
        <td> <%= user._id%> </td>
        <td> <%= user.email%> </td>
      </tr>
    <%}) %>
    </div>
    </table>
      </div>
  </body>
</html>
