<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Udupukada</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="../app/public/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- CSS here -->
        <link rel="stylesheet" href="../app/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="../app/public/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../app/public/css/flaticon.css">
        <link rel="stylesheet" href="../app/public/css/slicknav.css">
        <link rel="stylesheet" href="../app/public/css/animate.min.css">
        <link rel="stylesheet" href="../app/public/css/magnific-popup.css">
        <link rel="stylesheet" href="../app/public/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../app/public/css/themify-icons.css">
        <link rel="stylesheet" href="../app/public/css/slick.css">
        <link rel="stylesheet" href="../app/public/css/nice-select.css">
        <link rel="stylesheet" href="../app/public/css/style.css">
</head>
<style media="screen">
.monospace {
font-family: "Lucida Console", Courier, monospace;
}
</style>

<body>

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="../app/public/img/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>

                                            <li><a href="#about">About Us</a>

                                            </li>

                                            <li><a href="/shopnow">Shopnow</a>

                                            </li>
                                            <li><a href="contact.html">Contact</a></li>

                                        </ul>

                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fa fa-search special-tag"></i>
                                            </div>
                                        </div>
                                     </li>


                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                  <div class="login_part_form">
                      <div class="login_part_form_iner">
                          <h1> Welcome Back ! <br>
                              Please Sign in now</h1> <br>
                          <form class="row contact_form" action="/users/login" method="POST" novalidate="novalidate">
                              <div class="col-md-12 form-group p_star">
                                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
                              </div>
                              <div class="col-md-12 form-group p_star">
                                <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
                              </div>
                              <div class="col-md-12 form-group">
                                  <div class="creat_account d-flex align-items-center">
                                      <input type="checkbox" id="f-option" name="selector">
                                      <label for="f-option">Remember me</label>
                                  </div>
                                  <button type="submit" value="submit" class="btn_3">
                                      log in
                                  </button>
                                  <a class="lost_pass" href="#">forget password?</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Udupukada?</h2>
                            <p>You can visit this website and buy their favorite clothes</p>
                            <a href="/users/register" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================login_part end =================-->
    <footer id="about" class="footer-distributed">

    <div class="footer-left">
      <div class="logo">
        <a href="/"><img style="width:200px; height:100ppx;"src="../app/public/img/logo.png" alt=""></a>
      </div>


    <p class="footer-links">
      <a href="/">Home</a>
      |
      <a href="/shopnow">Shopnow</a>
      |
      <a href="#">About</a>
      |
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">@ 2020 Udupukada</p>
    </div>

    <div class="footer-center">
      <div>
        <i style="background-color:#2577fd;" class="fa fa-map-marker"></i>
        <p><span>Jaffna</span>
          Srilanka</p>
      </div>
      <div>
        <i style="background-color:#2577fd;" class="fa fa-phone"></i>
        <p>077 419 2481</p>
      </div>
      <div>
        <i style="background-color:#2577fd;" class="fa fa-envelope"></i>
        <p><a href="udupukadai@gmail.com">udupukadai@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
    <p class="footer-company-about monospace">
        <span style="color:#484c54;">About the company</span>
     Platform to bring the textiles to the online presence and customers can visit this website and buy their favorite clothes.</p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/udupukada.shop"><i class="fab fa-facebook"></i></a>

      <a href="https://www.instagram.com/udupukada/"><i class="fab fa-instagram"></i></a>

    </div>
    </div>
    </footer>
<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>

</html>
