<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/mail" method="post">
      <input type="text" name="name" placeholder="Enter your sweet name..."> <br> <br>
      <input type="text" name="email" placeholder="Enter your email..."> <br> <br>
      <input type="text" name="subject" placeholder="Enter your address"> <br> <br>
      <input type="text" name="message" placeholder="Enter your city"> <br> <br>
      <input type="text" name="phone" placeholder="Enter your phone number"> <br <br>
      <br>
      <input  class="bu" type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
