<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
  <div class="wrapper">

      <header class="page-header">

          <div class="header">

              <div class="logo">
                  <img src="logo.png" alt="">
              </div>
              <div class="center">
                  <div class="search">
                      <div class="search__container">
                          <input class="search__input" type="text" placeholder="Search">
                      </div>
                  </div>
              </div>

          </div>

          <nav class="nav_bar">
              <ul>
                  <li class="active"><button class="navfont"><i class="fa fa-home"></i><a href="/">Home</a></button></li>
                  <li>
                    <button class="navfont">Show Rooms</button>
                      <div class="submenu-1">
                        <ul>
                          <li><button><a href="/Limmys">Limmys</a></button></li>
                          <li><button><a href="/megamart">Mega Mart</a></button></li>
                          <li><button><a href="/Shifra">Shifra</a></button></li>
                          <li><button><a href="/Sivakaneshan">Sivakaneshan</a></button></li>
                          <li><button><a href="/boys">boys</a></button></li>
                      </ul>
                      </div>
                  </li>

                  <li><button class="navfont"><a href="#about">About us</a></button></li>
                  <li><button class="navfont"><a href="#contact">Contact us</a></button></li>
                  <li><button class="navfont"><a href="/shopnow">Shop Now</button></li>
              </ul>
              <ul>

                      <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                          <li><button class="navfont"><a href="users/register">Signup</button> </a></li>


              </ul>
          </nav>
            <div id="slider">
                <figure>
                    <img src="https://www.pinkblueindia.com/blog/wp-content/uploads/2018/10/diwali-baby-girl-dress.jpg"></img>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/915lDPa%2BnqL._UX679_.jpg"></img>
                    <img src="https://www.bargello.com/images/slider/2-party-wears-jan-2020.jpg"></img>
                    <img src="https://www.pinkblueindia.com/blog/wp-content/uploads/2018/10/diwali-baby-girl-dress.jpg"></img>
                    <img src="https://images-na.ssl-images-amazon.com/images/I/915lDPa%2BnqL._UX679_.jpg"></img>
                    <img src="https://www.bargello.com/images/slider/2-party-wears-jan-2020.jpg"></img>
                </figure>
            </div>

        </header>


<div>

  <section class="section">
      <h1>Megamart</h1>
      <div class="grid">
        <div class="item">
          <div class="item__details">
            jelly-o brownie sweet
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            Muffin jelly gingerbread
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            sesame snaps chocolate
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            Oat cake
          </div>
        </div>
        <div class="item item--full">
          <div class="item__details">
             jujubes cheesecake
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            Dragée pudding brownie
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            Oat cake
          </div>
        </div>
        <div class="item">
          <div class="item__details">
            powder toffee
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            pudding cheesecake
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            toffee bear claw
          </div>
        </div>
        <div class="item">
          <div class="item__details">
            cake cookie croissant
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            liquorice sweet roll
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            chocolate marzipan
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            danish dessert lollipop
          </div>
        </div>
        <div class="item">
          <div class="item__details">
            sugar plum dragée
          </div>
        </div>
      </div>
  </section>
      </main>
        <footer class="page-footer">

        </footer>
    </div>

</body>

</html>
