<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>UdupppuKadai</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/login.css">
  <script src="main.js"></script>
</head>
<style media="screen">

img {
  height: 200px;
  width : 200px;
  float: left;
}

</style>
  <body>
    <div class="wrapper">

        <header class="page-header">



            <nav class="nav_bar">
                <ul>
                    <li class="active"><button class="navfont"><i class="fa fa-home"></i>Home</button></li>
                    <li>
                      <button class="navfont">Show Rooms</button>
                        <div class="submenu-1">
                          <ul>
                            <li><button><a href="/Limmys">Limmys</a></button></li>
                            <li><button><a href="/megamart">Mega Mart</a></button></li>
                            <li><button><a href="/Shifra">Shifra</a></button></li>
                            <li><button><a href="/Sivakaneshan">Sivakaneshan</a></button></li>
                            <li><button><a href="/boys">boys</a></button></li>
                        </ul>
                        </div>
                    </li>

                    <li><button class="navfont"><a href="/#about">About us</a></button></li>
                    <li><button class="navfont"><a href="/#contact">Contact us</a></button></li>
                    <li><button class="navfont"><a href="/shopnow">Shop Now</button></li>
                </ul>
                <ul>

                        <li><button class="navfont"><a href="users/login">Login</button> </a></li>
                            <li><button class="navfont"><a href="users/register">Signup</button> </a></li>


                </ul>
            </nav> <br>
            <center>
              <h1>Your Order</h1>
              <table>
            <div >
              <td>
            

<th>

    <form class="" action="/order-item" method="post">
      <input type="text" name="name" placeholder="Enter your sweet name..."> <br> <br>
      <input type="text" name="email" placeholder="Enter your email..."> <br> <br>
      <input type="text" name="address" placeholder="Enter your address"> <br> <br>
      <input type="text" name="city" placeholder="Enter your city"> <br> <br>
      <input type="text" name="phone" placeholder="Enter your phone number"> <br> <br>
      <input  class="bu" type="submit" name="submit" value="order now">
    </form> <th>
 </td>


</table> </div> </center>
</header> <div>
  </body>
</html>
