<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport">
    <title></title>
  </head>
  <link rel="stylesheet" href="userprofile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <a href="/#welcome"> <font color="black"> <i class="fa fa-arrow-left"> </i> </font> </a>
  <!--  <button class="bu"><a href="/#welcome"><font color="white">back</font></a></button> -->
        <div>
          <img src="avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b> Name &nbsp : <%=user.name%> </b></h4>
            <h4><b> E-mail : <%=user.email%> </b></h4>          </div>
        </div>
        <button class="navfont bu "><a href="/users/logout"> <font color="white"> Logout </font></button> </a>

  </body>
</html>
